<h1><%= gettext "Confirm the email address" %></h1>
<p><%= gettext "You created an account on %{domain_name} with this email address. You are one click away from activating it. If this wasn't you, please ignore this email.", domain_name: @domain_name %></p>

<p><%= link "Confirm your email address", to: KaravanWeb.Endpoint.static_path("/validate/#{@token}"), target: "_blank" %></p>
