<%= gettext "Confirm the email address" %>

==

<%= gettext "You created an account on %{domain_name} with this email address. You are one click away from activating it. If this wasn't you, please ignore this email.", domain_name: @domain_name %>

<%= KaravanWeb.Endpoint.url() <> "/validate/#{@token}" %>


