<html>
  <head>
    <link rel="stylesheet" href="<%= KaravanWeb.Endpoint.static_path("/css/email.css") %>">
  </head>
  <body>
    <%= render @view_module, @view_template, assigns %>

    <p><%= gettext "An email sent by Karavan on %{domain_name}.", domain_name: @domain_name %></p>
  </body>
</html>
